.parent {
  background-color: #020127;
}

.video_container {
  width: 100%;
  /* height: 60vh; */
  /* border: 1px solid green; */
}

.brand_identity {
  /* height: 60vh; */
  margin-top: 5rem;
  /* border: 1px solid green; */
}

.brand_identity h1 {
  /* color: white; */
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 40px;
  line-height: 4rem;
  background-image: linear-gradient(
    to right,
    #e157af,
    #dfa92c,
    #a54b8b,
    orange
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  animation: wave 7s infinite;
}

.trustedby_cont {
  margin-top: 10rem;
  /* border: 1px solid green; */
}
.trustedby_cont > div {
  margin-top: 7rem;
}

.what_wedo_for_you_cont {
  margin-top: 10rem;

  /* border: 1px solid greenyellow; */
}
.what_wedo_for_you_text_lets_create {
  font-size: 2.5em;
  text-align: center;
  line-height: 3rem;
  color: white;
  margin-top: 8rem;
  font-style: italic;
}

.Aboutus_txt_cont {
  width: 85%;
  margin: auto;
  margin-top: 5rem;
  /* border: 1px solid green; */
  color: white;
}
.Aboutus_txt_cont > p {
  font-size: 1.7em;
  line-height: 2.4rem;
  font-weight: 100;
  /* font-family: Verdana, sans-serif; */
}

.design_animate {
  margin-top: 10rem;
  /* border: 1px solid green; */
  padding-bottom: 5rem;
}
.design_animate_Location_circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid rgba(180, 58, 164, 1);
  /* border-image: linear-gradient(
    90deg,
    rgba(180, 58, 164, 1) 0%,
    rgba(180, 58, 164, 0.8869922969187675) 0%,
    rgba(252, 184, 69, 0.9318102240896359) 99%
  ); */
  margin: auto;
  margin-top: 5rem;
  display: flex;
}
.design_animate_Location_circle > div {
  margin: auto;
}
.under_circle_txt {
  color: white;
  text-align: center;
  margin-top: 15rem;
}
.under_circle_txt > p {
  font-size: 2.4em;
  font-weight: 100;
  /* font-weight: bold; */
}
.services {
  margin-top: 10rem;
  /* border: 1px solid green; */
}
.services_img_container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  /* border: 1px solid yellow; */
  gap: 10px;
  margin: auto;
  margin-top: 5rem;
}
.services_img_container > img {
  width: 90%;
  /* border: 1px solid grey; */
  margin: auto;
}
/* .services_img_container > img:hover {
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid rgba(180, 58, 164, 1)
} */
.Aboutus {
  margin-top: 10rem;
  /* border: 1px solid goldenrod; */
}

.Aboutus h1 {
  /* font-size: 26px; */
  font-weight: 100;
  color: #ffffff;
  line-height: 3rem;
  text-align: center;
  margin: 5rem 0 3rem 0;
  /* border: 1px solid green; */
}
.Aboutus_we_excel {
  /* font-weight: 100; */
  color: #ffffff;
  /* line-height: 3rem; */
  text-align: center;
  /* border: 1px solid greenyellow; */
  margin: 5rem 0 3rem 0;
}
.Aboutus_we_excel p {
  font-size: 3em;
  line-height: 4rem;
}

.Spandeobrandlab {
  font-size: 50px;
  background-image: linear-gradient(
    to right,
    #e157af,
    #dfa92c,
    #a54b8b,
    orange
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  outline: none;
  font-weight: bold;
  animation: animate 5s linear infinite;
  background-color: transparent;
}

.btnContainer {
  width: fit-content;
  /* border: 1px solid greenyellow; */
  margin: auto;
}

.btnContainer > button {
  /* width: 250px; */
  /* height: 80px; */
  margin: 10px;
  background-size: 100%;
  font-size: 1em;
  font-weight: 600;
  border-radius: 100px;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.1),
    0 2px 4px -2px hsla(0, 0%, 0%, 0.1);
  background: linear-gradient(
    to right,
    rgb(176, 134, 176),
    rgb(222, 76, 101),
    #e157af,
    rgba(255, 166, 0, 0.73),
    yellow
  );
  background-size: 350% 100%;
  transition: all 0.4s ease-in-out;
}

.btnContainer > button:hover {
  animation-name: flow;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
/* .btnContainer > button {
  padding: 10px 40px 10px 40px;
  font-size: 22px;
  background-image: linear-gradient(
    to right,
    violet,
    pink,
    rgba(255, 166, 0, 0.73)
  );
  border: 0;
  cursor: pointer;
  color: white;
} */
.Portfolio {
  margin-top: 15rem;
  display: flex;
  /* border: 1px solid green; */
}

.Portfolio > div {
  width: 50%;
  /* border: 1px solid snow; */
}

.Portfolio_right {
  text-align: left;
}

.Portfolio_right_headings {
  margin-left: 0;
}
.Portfolio_right h2 {
  /* font-size: 26px; */
  font-weight: 100;
  /* font-style: italic; */
  line-height: 2.3rem;
  margin-left: 1rem;
  color: #ffffff;
}

.We {
  display: flex;
  margin-top: 15rem;
  /* border: 1px solid yellow; */
  align-items: center;
}
.We > div {
  width: 50%;
  /* border: 1px solid gold; */
}
.We_right {
  padding-left: 2rem;
  color: #ffffff;
}
/* .We_right > h1 {
  font-style: italic;
} */

.We_right > h1:hover {
  width: fit-content;
  color: whitesmoke;
  /* border: 1px solid greenyellow; */
  cursor: pointer;

  text-shadow: 0 0 10px #fff;
}


.BeInTouchBtn {
  border-radius: 40px;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    violet,
    pink,
    rgba(255, 166, 0, 0.73)
  );
  border: 0;
  cursor: pointer;
  color: white;
}

.WE_Text_Cont {
  font-size: 250px;
  font-weight: bold;
  text-align: center;
}
.WE_without_color {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: transparent;
}
.WE_without_color:hover {
  color: white;
}
.WE_with_color {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: -6rem;
  /* border: 1px solid gold; */
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.WE_with_color:hover {
  color: transparent;
}
.third_WE {
  margin-top: -6rem;
}


/* balancing animation for design animate */

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  margin-top: 14rem;
}
.stick {
  width: 600px;
  height: 25px;
  background-color: #61c7ed;
  /* background-color: rgba(205, 126, 69, 0.803); */
  border-radius: 25px;
  position: relative;
  transform: rotate(-25deg);
  animation: stickUpdown 4s ease-in-out 0.5s infinite alternate;
}
.ball {
  position: absolute;
  bottom: 100%;
  left: calc(100% - 90px);
  width: 150px;
  height: 150px;
  background-color: #a54b8b;
  border-radius: 50%;
  animation: ballMoving 4s ease-in-out 0.5s infinite alternate;
}

.ball:after,
.ball:before {
  position: absolute;
  content: "";
  top: 75px;
  right: 10px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
}

.ball:before {
  right: auto;
  left: 10px;
}

@keyframes stickUpdown {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

@keyframes ballMoving {
  0% {
    left: calc(100% - 90px);
    transform: rotate(360deg);
  }
  100% {
    left: -60px;
    transform: rotate(0deg);
  }
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes animate {
  0% {
    text-shadow: none;
  }
  10% {
    color: pink;
    text-shadow: 0 0 10px pink, 0 0 20px pink;
  }
}

@keyframes wave {
  0%,
  100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}

@media only screen and (max-width: 767px) {
  .brand_identity h1 {
    font-size: 1.5em;
    line-height: 2rem;
  }
  .what_wedo_for_you_cont h1 {
    font-size: 20px;
  }

  .services_img_container {
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1rem; */
  }
  .under_circle_txt > p {
    font-size: 2.1em;
  }
  .stick {
    width: 300px;
  }
  .ball {
    width: 90px;
    height: 90px;
  }
  .ball:after,
  .ball:before {
    width: 7px;
    height: 7px;

    top: 40px;
  }
  .Aboutus h1 {
    font-size: 28px;
  }

  .Aboutus_txt_cont {
    width: 95%;
  }
  .Aboutus_txt_cont > p {
    font-size: 1.6em;
    font-weight: 100;
    line-height: normal;
  }

  .Aboutus_we_excel p {
    font-size: 2em;
    line-height: normal;
  }
  .Portfolio_right {
    padding-right: 0;
    text-align: center;
  }

  .Spandeobrandlab {
    font-size: 40px;
  }
  .Portfolio {
    width: 100%;
    flex-direction: column;
  }
  .Portfolio > div {
    width: 100%;
  }
  .We {
    width: 100%;
    flex-direction: column;
  }
  .We > div {
    width: 90%;
  }
  .We_right {
    font-size: 10px;
    padding-left: 0;
    text-align: center;
  }
  .WE_Text_Cont {
    font-size: 180px;
  }

  .what_wedo_for_you_text_lets_create {
    font-size: 2em;
  }

  
}
